* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
}

.all {
  margin: 0 auto;
}

html {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1, h4 {
  font-family: 'Source Sans Pro';
  font-weight: bold;
}

.container-uppl {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

form {
  padding: 0.5rem;
}

.titles-answers {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.div-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem auto;
}

.div-info input, textarea {
  padding: 0.5rem; 
  width: 80%;
  border: 0.0625rem solid #888;
  border-radius: 0.2rem;
}

form > div > div > div > label {
  width: 20%;
}

.container-starf {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.div-job {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.applybtn {
  padding: 16px;
  font-family: 'Open Sans', sans-serif;
}

p {
  padding-left: 0.8rem;
}

/* Full-width input fields */
input[type=phone], input[type=name], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.inputError {
  background: #fbb;
}

.div-job-error {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fbb;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
}

/* Set a style for the submit/register button */
.apply, .umsoknir {
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0;
  cursor: pointer;
  background-color: white;
  border: 0.0625rem solid #888;
  border-radius: 0.2rem;
  font-family: 'Open Sans', sans-serif;
}

.apply:hover, .umsoknir:hover {
  opacity:1;
  background-color: #bbb;
  transition-timing-function: ease-in;
  transition: 300ms;
}

.error {
  padding: 1rem;
}


.applicationsbtn {
  padding: 16px;
}

.applications {
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0;
  cursor: pointer;
  background-color: white;
  border: 0.0625rem solid #888;
  border-radius: 0.2rem;
  font-family: 'Open Sans', sans-serif;
}